<h1>Encrypt Your Message</h1>

<p>If you're using a key to encode your message, enter it below. Otherwise, 
  leave the Key field blank to have the system generate one at random.</p>

<%= render partial: "shared/new_form", locals: {
                                                path: '/encryptions',
                                                text_placeholder: "message",
                                                button_text: "ENCRYPT",
                                                mode: "encrypt"
                                              }
%>
