<h1>Encrypt Your Message</h1>

<%= render partial: "shared/new_form", locals: {
                                                path: '/encryptions',
                                                text_placeholder: "message",
                                                button_text: "ENCRYPT",
                                                mode: "encrypt"
                                              }
%>
