<h1>Crack An Encrypted Message</h1>
<br>
<p>Through the power of COMPUTER TECHNOLOGY, it has become possible to crack the
code of an encrypted message without a key! You just need to know that 1. the
message ends in " end" (with a space), and 2. you know the date that it was created.</p>

<%= render partial: "shared/new_form", locals: {
                                                path: '/cracks',
                                                text_placeholder: "message",
                                                button_text: "CRACK THE CODE",
                                                mode: "crack"
                                              }
%>
