<h1>Decrypt Your Message</h1>

<%= render partial: "shared/new_form", locals: {
                                                path: '/decryptions',
                                                text_placeholder: "enter the encrypted message here",
                                                button_text: "DECRYPT",
                                                mode: "decrypt"
                                              }
%>
